.footer {
  background-color: #0a2850;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
}

.footer__content {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}

.footer__circle {
  height: 340px;
  width: 340px;
  background-color: #2f80ed;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: -128px;
}

.footer__social-heading {
  color: #fff;
  margin: 0px 0px 20px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  color: white;
  margin-bottom: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-link:hover {
  color: #c1c1c1;
  cursor: pointer;
}

.footer__social-link:focus {
  color: #c1c1c1;
  cursor: pointer;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  color: #fff;
  margin-top: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
