.form {
  margin: 0 auto;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  max-height: 60px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  padding: 15px 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  border-color: #838383;
}

.form__button {
  border-radius: 4px;
  width: 385px;
  height: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__label_terms {
  display: flex;
  margin-top: 32px;
  justify-content: center;
}

::placeholder {
  color: #838383;
}
